.place {
    margin-top: 80px;
    display: grid;
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    grid-template-areas:
        "title website"
        "image paragraph";
}